@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  width: 100%;
  max-width: 50rem;
  height: 100rem;
}

main {
  max-width: 160rem;
  margin: 0 auto;
  display: grid;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lights {
  margin: 2rem;
  position: relative;
  width: 100%;
  /* outline: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.lights__circle {
  width: 5rem;
  height: 5rem;
  background-color: rgb(105, 45, 105);
  border-radius: 50%;
  position: relative;
}

.lights__circle::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -45%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(63, 63, 68);
}

.lights__circle:not(:last-child)::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 60%;
  width: 9rem;
  height: 10px;

  border-radius: 100%;
  border-bottom: 1px solid rgb(63, 63, 68);
  top: -20%;
}

/* .lights__circle:nth-of-type(2n) {
  background-color: #b60000;
  box-shadow: 0px 0px 15px 3px rgba(248, 4, 4, 0.699);
}

.lights__circle:nth-of-type(2n + 1) {
  background-color: #0037fb;
  box-shadow: 0px 0px 15px 3px #0037fb;
}
.lights__circle:nth-of-type(3n + 1) {
  background-color: #df6500;
  box-shadow: 0px 0px 15px 3px #df6500;
} */

.active .lights__circle:nth-of-type(2n) {
  animation: 2s linear 0s glow1;
  background-color: #b60000;

  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.active .lights__circle:nth-of-type(2n + 1) {
  animation: 2s linear 1s glow2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  background-color: #0037fb;
}
.active .lights__circle:nth-of-type(3n + 1) {
  animation: 2s linear 1.5s glow3;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  background-color: #df6500;
}

@keyframes glow1 {
  0%,
  100% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0px 0px 15px 10px rgba(248, 4, 4, 0.699);
  }
}

@keyframes glow2 {
  0%,
  100% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0px 0px 15px 10px #0037fb;
  }
}

@keyframes glow3 {
  0%,
  100% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0px 0px 15px 10px #df6500;
  }
}
