@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
:root {
  --intensity: 15px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  transition: background 0.5s ease-in;
}

img {
  display: block;
  width: 100%;
  max-width: 50rem;
  height: 100rem;
}

main {
  max-width: 160rem;
  margin: 0 auto;
  display: grid;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lights {
  margin: 2rem;
  position: relative;
  width: 100%;
  /* outline: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.lights__circle {
  width: 5rem;
  height: 5rem;
  background-color: rgb(105, 45, 105);
  border-radius: 50%;
  position: relative;
}

.lights__circle::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -45%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(63, 63, 68);
}

.lights__circle:not(:last-child)::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 60%;
  width: 9rem;
  height: 10px;

  border-radius: 100%;
  border-bottom: 1px solid rgb(63, 63, 68);
  top: -20%;
}

.active .lights__circle:nth-of-type(2n) {
  animation: 2s linear glow1;
  background-color: #b60000;

  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.active .lights__circle:nth-of-type(2n + 1) {
  animation: 2s linear glow2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  background-color: #0037fb;
}
.active .lights__circle:nth-of-type(3n + 1) {
  animation: 2s linear glow3;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  background-color: #df6500;
}

@keyframes glow1 {
  0%,
  100% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0px 0px 15px var(--intensity) rgba(248, 4, 4, 0.699);
  }
}

@keyframes glow2 {
  0%,
  100% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0px 0px 15px var(--intensity) #0037fb;
  }
}

@keyframes glow3 {
  0%,
  100% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0px 0px 15px var(--intensity) #df6500;
  }
}

.toggle-night {
  display: flex;
  align-items: center;
  gap: 2px;
  position: absolute;
  top: 70%;
  left: 10%;
  border: 2px solid black;
  width: fit-content;
  padding: 1rem;
  border-radius: 100%;
  cursor: pointer;
}

.toggle-night:hover {
  background-color: black;
  color: white;
}

.dark {
  background-color: black;
}

.toggle-lights {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(158, 11, 11);
  width: 30rem;
  padding: 3rem;
  border: none;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.toggle-lights:hover {
  background-color: white;
  color: rgb(138, 26, 26);
  box-shadow: 0px 0px 15px 10px rgba(248, 4, 4, 0.699);
}

.change_speed {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(22, 50, 134);
  color: white;
  display: flex;
  padding: 1rem;
  gap: 20px;
  border-radius: 20px;
}
.change_speed input,
.change__intensity input {
  font-size: 20px;
  width: 5rem;
  text-align: center;
}

.change__intensity {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(40, 116, 72);
  color: white;
  display: flex;
  padding: 1rem;
  gap: 20px;
  border-radius: 20px;
}
